<div class="page-container">
    <div class="container-fluid">
    <section class="page_banner text-center bg-img theme-overlay-blue-dark pt-5 pb-5" data-overlay-dark="7">
        <div class="decoration_wrap">
            <h1 class="page_title">PACKAGES</h1>
            <ul class="breadcrumb_nav unordered_list_center">
                <li><a href="#">Home</a></li>
                <li><img src="assets/images/airrow.png" alt=""></li>
                <li>PACKAGES</li>
            </ul>
        </div>
    </section>
</div>
<br><br><br>
<div class="container">
    <div class="row d-flex align-items-center">
        <div class="col-md-3 text-center text-white">
            <p>We offer payment plans</p>
            <h3>Our Flexible Pricing Plan</h3>
            <p class="mt-5">It is a long established fact that a reader will be distracted by the readable content.</p>
            <button class="custom-btn mt-2"
            type="submit">
            <span (click)="goRoute_()">CONTACT US NOW</span>
        

        </button>
        </div>
        <div class="col-md-9">
            <div class="container" style="position: relative;margin-bottom:231px;">
                <div class="bg">
                    <div class="row">
                                <div class="col-md-4 why-us-card" *ngFor="let item of package">
                                    <div class="work-post-gal">
                                        <div class="content" [innerHTML]="item.description">
                                           
                                            
                                        </div>
                                        <div class="button">
                                        {{item.name}}
                                        </div>
                                      
                                    </div>
                                </div>
                                <!-- <div class="col-md-4 why-us-card">
                                    <div class="work-post-gal">
                                        <div class="content">
                                            <h4>$59/Monthly</h4>
                                            <ul>
                                                <li>10 listings Submit</li>
                                                <li>60 Days Availability</li>
                                                <li>Average Price Range</li>
                                                <li>20 Featured Listings</li>
                                                <li>24/5 Fully Support</li>
                                            </ul>
                                            
                                        </div>
                                        <div class="button">
                                            PROFESSIONAL
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 why-us-card">
                                    <div class="work-post-gal">
                                        
                                        <div class="content">
                                            <h4>$59/Monthly</h4>
                                            <ul>
                                                <li>10 listings Submit</li>
                                                <li>60 Days Availability</li>
                                                <li>Average Price Range</li>
                                                <li>20 Featured Listings</li>
                                                <li>24/5 Fully Support</li>
                                            </ul>
                                            
                                        </div>
                                        <div class="button">
                                            ENTERPRISE
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                  
                </div>
               
            </div>
        </div>
    </div>
</div>
<section class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="service">
                <h3>Our Services</h3>
                <ul class="service-list">
                    <li *ngFor="let service of serviceGroup"><a style="cursor: pointer;" (click)="goRoute(service.id)"><img src="assets/images/slist.png" alt="">{{service.title_en}}</a></li>
                    
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            <div class="service service-content text-white">
                <h3>FAQ Section</h3>
                <ng-container *ngFor="let item of faqGroup; let i = index">
                    <!-- <faq-section [title]="i === accordionItems.length - 2 ? accordionItems[0].question : item.question">
                        <p class="faq-para" [innerHTML]="i === accordionItems.length - 2 ? accordionItems[0].answer : item.answer"></p>
                        </molla-faq-section> -->
                    <app-faq-section [title]="i === faqGroup.length - 2 ? faqGroup[0].question : item.question">
                        <p class="faq-para" [innerHTML]="i === faqGroup.length - 2 ? faqGroup[0].answer : item.answer"></p>
                    </app-faq-section>
                </ng-container>

                <!-- <p>FAMILY LAW</p>
                <h3 class="mb-5">PARENTING</h3>

                <h3>PARENTING TIME</h3>
                <ul>
                    <li>Shared - The children spend at least 40% of the time with each parent.</li>
                    <li>Majority - The children spend more than 60% of the time with one of the parent.</li>
                </ul>

                <h3>PARENTING TIME</h3>
                <ul>
                    <li>Shared - The children spend at least 40% of the time with each parent.</li>
                    <li>Majority - The children spend more than 60% of the time with one of the parent.</li>
                </ul>

                <h3>PARENTING TIME</h3>
                <ul>
                    <li>Shared - The children spend at least 40% of the time with each parent.</li>
                    <li>Majority - The children spend more than 60% of the time with one of the parent.</li>
                </ul>

                <h3>PARENTING TIME</h3>
                <ul>
                    <li>Shared - The children spend at least 40% of the time with each parent.</li>
                    <li>Majority - The children spend more than 60% of the time with one of the parent.</li>
                </ul> -->
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="row phonecontact">
            <div class="col-md-9">
                <p>
                    Our Lawyers will also represent you in civil litigation cases such as divorce.
                </p>
            </div>
            <div class="col-md-3 text-center">
                <a class="custom-btn" href="contact-us">
                    CONTACT US NOW
                </a>
            </div>
        </div>
</section>