<div class="page-container">
  <section
    class="page_banner text-center bg-img theme-overlay-blue-dark pt-5 pb-5"
    data-overlay-dark="7">
    <div class="container decoration_wrap">
      <h1 class="page_title">News & Events Detail</h1>
      <ul class="breadcrumb_nav unordered_list_center">
        <li><a href="#">Home</a></li>
        <li>/</li>
        <li>News & Events</li>
        <li>/</li>
         <li>{{singleNewData?.PostTitle?.substring(0,30)}} <span
                        *ngIf="singleNewData?.PostTitle?.length >= 15">...</span> </li> 
      </ul>
    </div>
  </section>
  <br>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-9" data-aos="fade-up">
          <div class="card-body">
            <div class="row">
              <div class="slider-container">
                <div class="slider">
                  <div *ngIf="newimgList.length > 1">
                  <owl-carousel-o [options]="customOptions" id="new_slide_"
                    #owlCar>
                    <ng-template carouselSlide *ngFor="let new_images of
                    newimgList;let i=index">
                    <img [src]="linkUrl + new_images" alt class="img-fluid" *ngIf="new_images != null || new_images != ''" (click)="imgClick(i)">
                    <img src="assets/images/no-image.png" *ngIf="new_images == null || new_images == '' || new_images.length == 0"class="img-fluid">
                  </ng-template>
        
                  </owl-carousel-o>
                  </div>
                  <div *ngIf="newimgList.length <= 1">
                    <!-- Show a single image or a placeholder here -->
                    <img [src]="linkUrl + newimgList[0]" alt class="img-fluid" *ngIf="newimgList[0]">
                  </div>
                  <div class="left-img" *ngIf="newimgList.length == 0">
                    <img src="assets/images/no-image.png">
                </div>
               <br>
                  <div class="inner-text">
                    <h3 class="para"> {{singleNewData.PostTitle}} </h3>
                    <p class="new-text"> {{shareService.DateChange2(postOn)}} <span
                            *ngIf="shareService.DateChange2(expireOn) != ''">-</span>
                        {{shareService.DateChange2(expireOn)}}
                    </p>
                    <p [innerHTML]="singleNewData.Body" class="desc"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="inner-sec">
            <h2 class="related"><i class="fa fa-book"></i> Recent Post</h2>
            <div class=" mb-3 why-us-card mt-3"*ngFor="let newList of newlists | slice : 0:5">
              <app-inner-new [newlists]="newList"[related]="true"></app-inner-new>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br>

</div>
<br><br>