<div class="modal" class="modal" [ngClass]="{ 'd-block': showModal }">
  <div class="modal-dialog modal-dialog-centered">
    <div class="image-body modal-content">
      <div class="container-fluid">

        <div class="row">
          <div class="col-md-4">
            <div class="img-container">
              <img src="assets/images/product-announce-1.png" class="img-fluid full-width-image" alt="...">
            </div>
          </div>
          <div class="col-md-8" style="position: relative;">
            <div class="para-sec">
              <p class="para">
                မိခင်နို့သည် ကလေးအတွက် အကောင်းဆုံး ဖြစ်ပါသည်။ (၆)လအောက် ရင်သွေးလေးတွေအတွက် မိခင်နို့တစ်မျိုးတည်း
                တိုက်ကျွေးရန်နှင့် ရင်သွေးများအား (၂)နှစ်အထိ အခြားသော ဖြည့်စွက်စာများနှင့်အတူ မိခင်နို့တစ်မျိုးတည်းကိုသာ
                ဆက်လက်တိုက်ကျွေးရန် ကမ္ဘာ့ကျန်းမာရေးအဖွဲ့အစည်းမှ ညွှန်ကြားထားပါသည်။
                အခြေအနေအမျိုးမျိုးကြောင့် သော်လည်းကောင်း၊ မိခင်နို့တိုက်ကျွေးရန် အခက်အခဲရှိ၍သော်လည်းကောင်း
                နို့မှုန့်တိုက်ကျွေးလိုပါက အကောင်းဆုံးအကြံဉာဏ်ပေးနိုင်မည့် ဆရာဝန်နှင့်ဆွေးနွေးတိုင်ပင်ရန်
                အကြံပြုပါသည်။
            </div>
            <button type="button" class="btn btn-primary btn-text"
              (click)="shareService.closeAnnouncement()">ဆက်လက်ကြည့်ရှုရန်</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>