.page_banner{
  background-image: url('../../../assets/images/about-banner.png');
  padding: 0px 0 !important;
    height: 90vh;
}

button.custom-btn {
  background-color: #bd9d4f;
  padding: 12px 18px;
  border-radius: 30px 0;
  color: #fff;
  font-size: 12px;
}

.decoration_wrap{
  position:absolute;
  top:50%;
  left:0;
right:0;

margin-left: auto;
margin-right: auto;

position: absolute;
width: 40%;
}

.contact{
  background-color: #59585859;
    padding: 40px;
    border-radius: 30px 0;
    color: #fff;
}

.page_title{
  color: #bd9d4f !important;
  font-size: 30px !important;
  font-weight: normal !important;
 }

.img-fluid {
  width: 222px;
}

.contact-us {
  margin-top: 50px;
  margin-bottom: 30px;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  color: #002d8e;
  margin-bottom: 15px;
}

p {
  color: #002d8e;
}

input.form-control {
  height: 50px;
}

.contact-section .col {
  padding: 15px 15px 0 15px;
}

.contact-one {
  padding: 30px;
  padding-top: 0px;
  //   border-radius: 12px;
  //   background-color: #f1f1fc;
  .contact {
    font-weight: bold;
  }
}

.form-control {
  width: 100%;
  caret-color: #5355df;
  transition: 0.3s cubic-bezier(0.5, 1, 0.89, 1);
  border-radius: 5px;
  background-color: #151515;
  border: 1px solid #151515;
  font-size: 13px;
}

.col {
  flex: unset;
  padding: 15px 15px 0 15px;
}

textarea.form-control {
  min-height: 160px;
  padding: 16px 20px;
  resize: none;
}

// .btn {
//   box-sizing: border-box;
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   appearance: none;
//   background-color: #83b9ff;
//   border: 2px solid #0f8aee;
//   border-radius: 0.6em;
//   color: #fff !important;
//   cursor: pointer;
//   display: -webkit-box;
//   display: -webkit-flex;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-align-self: center;
//   -ms-flex-item-align: center;
//   align-self: center;
//   font-size: 1rem;
//   font-weight: 400;
//   line-height: 1;
//   margin: 20px 0 0 0;
//   padding: 1em 2.6em;
//   text-decoration: none;
//   font-weight: 700;
// }
.btn:hover,
.btn:focus {
  outline: 0;
}

.contact-info {
  max-height: 300px;
  padding: 70px 20px;
    border-radius: 10px;
    background-color: #59585859;
    text-align: center;
    img{
      margin-bottom: 25px;
    }
    h3{
      font-size: 20px;
      font-weight: 700;
      color: #fff;
      margin-bottom: 15px;
    }
    p{
      color: #fff;
    }
}

// .fourth {
//   padding-left: 180px;
// }
.theme-overlay-blue-dark[data-overlay-dark]:before {
  background: #504e4e;
}

[data-overlay-dark="7"]:before,
[data-overlay-light="7"]:before {
  opacity: 0.5;
}

[data-overlay-dark]:before,
[data-overlay-light]:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.margin-auto {
  display: flex;
  margin: auto;
}

.link {
  color: var(--primary-color);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.red-star {
  margin-left: 3px;
  color: red;
}

.lbl {
  margin: 0;
  margin-bottom: 7px;
}

.message-btn {
  border: none;
  padding: 12px;
  border-radius: 0px;
  background:#151515;
  color: #ffffffd1;
  width: 30%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.message-btn:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22)
}

// .message-btn:hover {
//   background-color: var(--primary-background-color);
// }

@media only screen and (max-width: 768px) {
  .contact-one {
    margin-top: 30px;
    padding: 0px !important;
  }
}

.loading-indicator {
  position: absolute;
  top: 108%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.contact-title{
  font-size: 14px;
    font-weight: normal;
    text-align: center;
}

.title{
  font-size: 22px;
    color: #bd9d4f;
    text-align: center;
}

.form-select{
  height: 50px;
    font-size: 13px;
    border-radius: 5px;
    background-color: #151515;
    border: 1px solid #151515;
    color:#fff;
}
