hr {
  border-top: 1px solid #e0dbdb;
  border-bottom: 1px solid #4d4848;
}
.para,.desc{
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
}
.new-date {
  margin-top: 10px;
}
.recent-text:hover{
  color:rgb(250, 92, 92);

}
.img-fluid {
  height: 85px;
  border-radius: 5px;
  object-fit: cover;
  border: 1px solid #dddddd54;
  width: 120%;
}
@media only screen and (max-width: 768px) {
  hr{
    border: 1px solid rgb(180, 178, 178);
  }
  .new-date {
    margin-top: 10px;
  }
  .inner-text {
    margin-top: 10px;
  }
  .card-label-section1 {
    font-size: 20px;
    font-weight: bold;
    color: var(--primary-color);
  }
  .img-fluid {
    border-radius: 5px;
    object-fit: cover;
    border: 1px solid #dddddd54;
    width: 100%;
    height: 100%;
   
  }
}

.card-label-section1:hover {
  color: var(--primary-color);
}

.img-fluid:hover {
  opacity: 0.9;
}
.new-date {
  color: #575a7b;
  font-size: 14px;
  font-weight: 500;
}



.related-card {
  margin-bottom: 20px;
}
