.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-title {
  margin: 0;
}

.btn-close {
  cursor: pointer;
  position: absolute;
  left: 450px;
  top: 0px;
  z-index: 1385;
  color: rgb(228, 87, 68);
}

.w-100 {
  width: 100% !important;
}

.d-block {
  display: block !important;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 3rem;
}

.modal-content {
  background: transparent !important;
}
